* {
    box-sizing: border-box;
   
}

body {
 margin: 0;
 padding: 0;
 max-width: 100vw;
 overflow: hidden;
}

.hero {
    margin-left: 20px;
}

.hero p {
    margin-left: 50px;
    margin-bottom: -1px;
}

.hero  span {
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
}

img {
   width: 736px; 
   height: 560px;
   border-radius: 20px;
}
progress {
    height: 20px;
    width: 736px;
}